.centerSpinner {
    top: 50%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    transform: translateY(-50%);
}

.backgroundSpinner {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(251.22deg, yellow, yellow 99.53%);
}