.tabActive {
    background: transparent !important;
    border-bottom: 3px solid white !important;
    border-radius: 0px !important;
    font-weight: bold;
    color:white
}

.tabInActive {
    color: black;
    font-weight: bold;
}

.header {
    background-color: royalblue;
}

.logoImg {
    width: 100px;
    height: 60px;
    background-size: cover;
}